<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    colors="true"
    printerClass="Simplex\Quickstart\Shared\Testing\TestResultPrinter"
    bootstrap="phpunit_bootstrap.php">

    <testsuites>

        <testsuite name="unit">
            <directory>src/Module/Demo/Test/Unit</directory>
        </testsuite>

        <testsuite name="functional">
            <directory>src/Module/Demo/Test/Functional</directory>
        </testsuite>

        <testsuite name="core">
            <directory>vendor/simplex/simplex/tests</directory>
        </testsuite>

    </testsuites>

</phpunit>
