<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    colors="true"
    printerClass="Simplex\Quickstart\Shared\Testing\TestResultPrinter"
    bootstrap="phpunit_bootstrap.php">

    <testsuites>
        <testsuite name="unit">
            <directory>src/Module/Demo/Test/Unit</directory>
        </testsuite>

        <testsuite name="functional">
            <directory>src/Shared/Test/Functional</directory>
            <directory>src/Module/Demo/Test/Functional</directory>
        </testsuite>

        <testsuite name="core">
            <directory>vendor/simplex/simplex/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">bin</directory>
            <directory suffix=".php">public</directory>
            <directory suffix=".php">src</directory>
            <exclude>
                <directory suffix=".php">src/Shared/config</directory>
                <directory suffix=".php">src/Shared/Test</directory>
                <directory suffix=".php">src/Shared/Testing</directory>
                <directory suffix=".php">src/Module/*/config</directory>
                <directory suffix=".php">src/Module/*/Test</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <const name="PHP_WEBSERVER_HOST" value="localhost" />
        <const name="PHP_WEBSERVER_PORT" value="8080" />
    </php>

</phpunit>
